body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(102, 153, 153);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: rgb(0, 77, 77);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(0, 77, 77, 0.85);
}
