body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(images/lake-bunyonyi-tours.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}

/*Style for the navigation bar*/

.nav{
    background-color: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav{
    width: 100%;
}

.bg-custom{
    background-color: none;
}

.dropbtn {
    background-color: rgb(0,77,77);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,77,77,0.5);
    z-index: 1;
    border-radius: 8px;
    margin-right: 30px;
    border-right: 20px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgba(0,77,77,0.8);
  }
/*End of style for the navigation bar*/

.mother{
    margin: auto;
    width: 50%;
    padding: 70px 0;
    margin-top: 10vh;
    border: solid 1pt white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: white;
    border-radius: 7px;

}

.center{
    margin: auto;
    width: 50%;
    top: 50%;
    transform: translate (0, -50%);
    background-color: rgba (0,0,0,0.6);
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

.col-lg-4 {
    width: 85%;
    padding: 2px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

input {
    width: 85%;
    padding: 2px; 
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

button {
    background-color: black;
    border: solid 1pt rgb(0, 39, 39);
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(0, 77, 77, 0.85);
}


